//
// mixins files
// 

@use 'sass:math';
@use "@/styles/media" as *;

//
// Mixin calculates adaptive font size in rem units
// The max and min viewport width variables are not used
// because sass cannot use CSS variables in calculations.
//

@mixin fluid-text($max: 48, $min: 16) {
    $maxViewportWidth: 1920;
    $minViewportWidth: 320;

    $maxSize: math.div($max, 16);
    $minSize: math.div($min, 16);
    $maxWidth: math.div($maxViewportWidth, 16);
    $minWidth: math.div($minViewportWidth, 16);

    $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
    $yAxisIntersection: -$minWidth * $slope + $minSize;

    font-size: clamp(#{$minSize * 1rem},
        #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
        #{$maxSize * 1rem});
}

@mixin font($fontFamily, $fontWeight, $lineHeight) {
    font-family: $fontFamily;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}