//
// utils file
// 

@use "@/styles/media" as *;

.container {
    display: flex;
    flex-direction: column;
    max-width: var(--container-width-default);
    width: 100%;
    margin-inline: auto;

    @include laptop {
        padding-inline: var(--container-padding-inline);
    }

    @include mobile-small {
        padding-inline: var(--container-padding-inline-small);
    }
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}