@use "@/styles/index" as *;

.dialog {
    position: fixed;
    top: 25%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 40%;
    padding-block: 25px;
    border: var(--border-default);
    border-radius: var(--border-radius-default);
    background-color: var(--color-gray);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
    @include fluid-text(36, 36);
    @include font(var(--font-family), 600, 1);
}

.label {
    @include fluid-text(20, 20);
    @include font(var(--font-family), 400, 1);
}

.textarea {
    height: 150px;
}

.button__submit {
    width: 150px;
    margin-inline: auto;
}

.button__close {
    position: absolute;
    @include fluid-text(20, 20);
    @include font(var(--font-family), 400, 1);
    top: 15px;
    right: 15px;
}