@use "@/styles/index" as *;

.header {
    background-color: var(--color-blue);
}

.container {}

.row {
    padding-block: 32px;

    @include mobile-small {
        padding-block: 16px;
    }
}

.column {}

.column__1 {}

.logo {
    width: 300px;

    @include tablet {
        width: 150px;
    }

    @include mobile-small {
        width: 100px;
    }
}

.column__2 {}

.nav {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 50px;

    @include tablet {
        margin-right: 0;
    }
}

.ul {
    display: flex;
    column-gap: 72px;

    @include tablet {
        column-gap: 24px;
    }

    @include mobile-small {
        column-gap: 8px;
    }
}

.li {
    color: var(--color-white);
}

.link {
    @include fluid-text(28, 14);
    @include font(var(--font-family), 400, 1);
    color: var(--color-white);
}