@use "@/styles/index" as *;

.footer {
    background-color: var(--color-blue);
}

.container {
    padding-block: 32px;

    @include mobile-small {
        padding-block: 16px;
    }
}

.row {
    justify-content: center;
}

.title {
    @include fluid-text(18, 16);
    @include font(var(--font-family), 400, 1);
    color: var(--color-white);
}